@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
}

.quiz-box {
  margin: 24px 0;
  padding: 24px;
  border: 1px solid #eee;
  border-radius: 10px;

  .title-container {
    border-bottom: 2px solid #007bff;
    margin-bottom: 1em;
  }
}

.btn-answer {
  margin: 6px 12px 36px 0;
}
